*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 2rem;
  line-height: 1.5;
  font-family: "Smooch Sans", sans-serif;
  letter-spacing: 1.5px;

  color: hsl(0, 0%, 90%);
  max-width: 100vw;
  height: 100vh;

  display: grid;
  justify-content: center;

  background-color: hsl(0, 0%, 10%);
  overflow: hidden;
}

/* ##################################CAROUSEL################################# */

.wrapper {
  width: min(700px, 80vw);
  height: 70vh;
  position: relative;
}

h1 {
  text-align: center;
  color: teal;
  margin: 0;
  font-family: "Bebas Neue", cursive;
  font-size: 6rem;
  letter-spacing: 2px;
}

.card {
  width: 100%;
  margin: 5rem auto;
  padding: 2rem;

  background-color: hsl(0, 0%, 20%);
  border-radius: 20px;
  box-shadow: 0 0 10px hsl(180, 100%, 10%), inset 0 0 10px hsl(0, 0%, 25%);

  text-align: center;

  position: absolute;
  top: 22rem;
  left: 0;
}

.img-container {
  width: 200px;
  aspect-ratio: 1;

  margin: 2rem auto;

  border-radius: 50%;
  border: 3px solid hsl(180, 100%, 25%);
  background-color: aliceblue;

  overflow: hidden;
}

.img-container > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.name {
  font-size: 2.5rem;
  font-weight: 600;
  display: block;
}

.occupation {
  text-transform: uppercase;
  font-weight: 500;
  color: rgb(212, 17, 170);
  margin-bottom: 3rem;
  display: block;
}

.user-description {
  padding: 1.5rem;
}

.sliders {
  margin: 2rem 0;
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.sliders > * {
  cursor: pointer;
}

.random {
  display: block;
  margin: 0 auto;
  font-size: 2.2rem;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: hsl(0, 0%, 90%);
  padding: 0.3em 0.6em;
  background-color: transparent;
  border: 2px solid teal;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 0 5px hsl(180, 100%, 20%), inset 0 0 5px hsl(180, 100%, 30%);
}

.random:hover {
  filter: brightness(120%);
  font-weight: 600;
}

.random:active {
  background-color: teal;
}

.review-right {
  transform: translateX(100vw);
}

.review-left {
  transform: translateX(-100vw);
}

.review-center {
  transform: translateX(0);
}
